@page "/"

<h1>Hello, world!</h1>

<button @onclick="addCounter" class="add-counter">+</button>

<ul class="counter-list">
	@foreach(int counter in counters)
	{
		<li><Counter Count="@counter" /></li>
	}
</ul>

@code
{
	private List<int> counters = new();

	private void addCounter()
	{
		counters.Add(0);
	}
}


<style>
	li {
		margin-bottom: 1em;
	}
</style>