<div class="counterlist">
    <button @onclick="onAddButtonClickHandler">+</button>
    <ul>
        @for(int index=0; index<countersCounts.Count(); index++)
        {
            int indexCopy = index;
            <li>
                <Counter Count="@countersCounts[index]" CountChanged="@((newCount) => onCountersCountChangedHandler(indexCopy, newCount))"></Counter>
            </li>
        }
    </ul>
</div>
