<div class="counterlist">
    <button @onclick="onAddButtonClickHandler">+</button>
    <ul>
        @for(int index=0; index<countersCounts.Count(); index++)
        {
            int indexCopy = index;
            <li>
                <Counter Count="@countersCounts[index]" CountChanged="@((newCount) => onCountersCountChangedHandler(indexCopy, newCount))"></Counter>
            </li>
        }
    </ul>
    <div>Total: @total</div>
</div>

@code{
    int total => countersCounts.Sum();
    List<int> countersCounts = new();

    private void onAddButtonClickHandler()
    {
        countersCounts.Add(0);
    }

    private void onCountersCountChangedHandler(int index, int newCount)
    {
        countersCounts[index] = newCount;
    }
}